<?xml version="1.0"?>
<!--
 /**
 * Emoja_CacheWarmer
 *
 * @category    Emoja
 * @copyright   Copyright (c) 2025 John Josephson
 * @author      johnjay@alumni.caltech.edu
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="cachewarmer" frontName="cachewarmer">
            <module name="Emoja_CacheWarmer" />
        </route>
    </router>
</config>
