<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="emoja_cachewarmer" showInDefault="1" showInWebsite="1" showInStore="1" type="text" translate="label"
                 sortOrder="100">
            <label>Page Cache Warmer</label>
            <tab>emoja</tab>
            <resource>Emoja_CacheWarmer::cache_warmer_config</resource>
            <group id="general" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="10">
                <label>General Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" >
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <tooltip><![CDATA[Enable/disable full page cache warmer]]></tooltip>
                </field>
                <field id="warm_groups" translate="label comment" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Customer Groups</label>
                    <comment>Select groups to warm.</comment>
                    <source_model>Emoja\CacheWarmer\Model\Config\Source\CustomerGroups</source_model>
                </field>
                <field id="curl_timeout" translate="label" type="text" sortOrder="30" showInDefault="1">
                    <label>Curl Timeout</label>
                </field>
                <field id="mage_run_type" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1" >
                    <label>Mage Run Type</label>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="200" showInDefault="1">
                    <label>Debug Logging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cache_config_json" translate="label" type="select" sortOrder="220" showInDefault="1">
                    <label>Cache Config Json</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="cron" showInDefault="1" sortOrder="20">
                <label>Cron</label>
                <field id="warm_count" translate="label" type="text" sortOrder="10" showInDefault="1">
                    <label>Warm Count</label>
                    <comment>Number of pages to warm for each run</comment>
                </field>
                <field id="max_execution_time" translate="label" type="text" sortOrder="24" showInDefault="1">
                    <label>Max Execution Time</label>
                    <comment>Will stop warming pages after this many seconds. Should be similar to the schedule frequency.
                        If we are warming every 2 minutes, this should be around 120 seconds.</comment>
                </field>
                <field id="warm_cron_schedule" translate="label" type="text" sortOrder="30" showInDefault="1">
                    <label>Warm Schedule</label>
                    <comment>Cron expression</comment>
                    <validate>cron-expression</validate>
                </field>
                <field id="check_cron_schedule" translate="label" type="text" sortOrder="40" showInDefault="1">
                    <label>Check Schedule</label>
                    <comment>Cron expression</comment>
                    <validate>cron-expression</validate>
                </field>
                <field id="config_json_schedule" translate="label" type="text" sortOrder="50" showInDefault="1">
                    <label>Cache Json Config Schedule</label>
                    <comment>Cron expression</comment>
                    <validate>cron-expression</validate>
                </field>
                <field id="clean_logs_days" translate="label" type="text" sortOrder="60" showInDefault="1">
                    <label>Clean Logs Days</label>
                    <comment>Number of days to keep page log records (not cache records). If less than zero, will not clean logs.</comment>
                    <validate>integer</validate>
                </field>
                <field id="clean_logs_schedule" translate="label" type="text" sortOrder="70" showInDefault="1">
                    <label>Clean Logs Schedule</label>
                    <comment>Delete old log entries - Cron expression</comment>
                    <validate>cron-expression</validate>
                </field>
            </group>
        </section>
    </system>
</config>
